<footer class="footer container" id="contact">
    <div class="divider"></div>
    <div class="footer-content">
        <div class="contact-info">
            <h3>CONTACT</h3>
            <a href="mailto:steph.belmont@example.com"
                >steph.belmont@example.com</a
            >
        </div>
        <div class="social-links">
            <h3>SOCIALS</h3>
            <a href="#" target="_blank">Behance</a>
            <a href="#" target="_blank">Instagram (@polaris.s.b)</a>
            <a href="#" target="_blank">LinkedIn</a>
        </div>
    </div>
    <div class="bottom-sig">
        <span>© 2024 STEPHANI BELMONT</span>
        <span class="star">✦</span>
    </div>
</footer>

<style>
    .footer {
        padding-bottom: 2rem;
    }

    .divider {
        height: 1px;
        background: var(--text-color);
        width: 100%;
        margin-bottom: 2rem;
        opacity: 0.3;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    h3 {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        opacity: 0.5;
    }

    a {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        transition: opacity 0.2s;
    }

    a:hover {
        opacity: 0.5;
    }

    .bottom-sig {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
</style>
